@charset "UTF-8";

.vetepabajo{
	margin-top: 10%;
}

label{
	
	background-color: goldenrod;
	border-style: solid;
	border-color: black;
	margin: 5%;
	
}

img{
	background-color: goldenrod;
	border-style: solid;
	border-color: black;
	margin: 5%;
}

h3{
	
	text-decoration: underline royalblue;
	margin-bottom: 10%;
	
}

.vetepabajo{
	
	margin-top: 10%;
	
}